<section>
	<h1>self.info</h1>
	<span>
		<img src="http://www.gravatar.com/avatar/cb02fc9c9c7e29dea5b6c5b3f644145e?s=180" alt="{{ site.author }} " title="{{ site.author }}" />
	</span>
	<p class="social-links">
		<a href="{{ site.github_url }}" aria-label="Visit {{ site.author }}'s GitHub profile" title="GitHub Profile" rel="noopener noreferrer" target="_blank">GitHub</a> • 
		<a href="{{ site.linkedin_url }}" aria-label="Visit {{ site.author }}'s LinkedIn profile" title="LinkedIn Profile" rel="noopener noreferrer" target="_blank">LinkedIn</a>
	</p>
	<p>
		A dev blog by Jesse Collis, a product centric Software Engineering leader with a deep background iOS, API design, PHP and other server side technologies. Passionate about building awesome prodcuts people love to use, renewable energy and all things IoT.
	</p>
	<p>
		Over 17 years of experience in the tech industry. Past roles include <a href="https://block.xyz" aria-label="Block company website" title="Block (formerly Square)" rel="noopener noreferrer" target="_blank">Block</a>, <a href="https://realestate.com.au" aria-label="realestate.com.au company website" title="realestate.com.au" rel="noopener noreferrer" target="_blank">realestate.com.au</a>, <a href="https://beanhunter.com" aria-label="Beanhunter website" title="Beanhunter" rel="noopener noreferrer" target="_blank">Beanhunter</a>, <a href="https://melbournecocoaheads.com" aria-label="Melbourne CocoaHeads community website" title="Melbourne CocoaHeads" rel="noopener noreferrer" target="_blank">Melbourne CocoaHeads</a>, RMIT University. 
	</p>
	<p>
		Originally from Melbourne, Australia. Now living in Seattle, Washington.
	</p>
	<img src="/images/IMG_8035.jpeg" alt="Seattle skyline with Space Needle and Mount Rainier visible in the background on a clear day" style="width: 100%; margin-top: 10px; margin-bottom: 10px;" />
</section>