<section>
	<h1>self.info</h1>
	<p>
		A dev blog by Jesse Collis an independent iOS, PHP developer, renewable energy and IOT enthusiast from Melbourne, Australia.
	</p>
	<p>
		Co founder of <a href="https://triangle.coffee">Triangle Coffee</a>, Organiser of <a href="https://melbournecocoaheads.com">Melbourne CocoaHeads</a>. Previously CTO at <a href="https://beanhunter.com">Beanhunter</a>, Technical lead at <a href="https://www.realestate.com.au/mobile/">REA Group</a>.
	</p>
	<p class="social-links">
		<a href="https://github.com/jessedc">GitHub</a> • 
		<a href="https://www.linkedin.com/in/jessedc/">LinkedIn</a> • 
		<a href="{{ site.contact_url }}">Contact</a>
	</p>
	<span>
		<img src="http://www.gravatar.com/avatar/cb02fc9c9c7e29dea5b6c5b3f644145e?s=180" alt="{{ site.author }} " title="{{ site.author }}" />
	</span>
</section>
