<section>
	<h1>self.info</h1>
	<span>
		<img src="http://www.gravatar.com/avatar/cb02fc9c9c7e29dea5b6c5b3f644145e?s=180" alt="{{ site.author }} " title="{{ site.author }}" />
	</span>
	<p class="social-links">
		<a href="{{ site.github_url }}">GitHub</a> • 
		<a href="{{ site.linkedin_url }}">LinkedIn</a>
	</p>
	<p>
		A dev blog by Jesse Collis, a product centric Software Engineering leader with a deep background iOS, API design, PHP and other server side technologies. Passionate about building awesome prodcuts people love to use, renewable energy and all things IoT.
	</p>
	<p>
		Over 17 years of experience in the tech industry. Originally from Melbourne, Australia. Now living in Seattle, Washington.
	</p>
	<img src="/images/IMG_8035.jpeg" alt="Seattle skyline with Space Needle and Mount Rainier visible in the background on a clear day" style="width: 100%; margin-top: 10px; margin-bottom: 10px;" />
</section>