<ul class="subscription" data-subscription="rss">
  <li><a href="{{ site.atom_feed }}" rel="subscribe-rss" title="Subscribe via ATOM feed">ATOM</a></li>
</ul>
<form action="https://google.com/search" method="get">
  <fieldset role="search">
    <input type="hidden" name="q" value="site:{{ site.url | shorthand_url }}" />
    <label for="search-input" class="sr-only">Search this site</label>
    <input id="search-input" class="search" type="search" name="q" results="0" placeholder="Search" aria-label="Search"/>
  </fieldset>
</form>
<ul class="main-navigation" role="main-navigation" aria-label="Main navigation">
  <li><a href="{{ root_url }}/">Blog</a></li>
  <li><a href="{{ root_url }}/presentations">Presentations</a></li>
  <li><a href="{{ root_url }}/archives">Archives</a></li>
  <li><a href="{{ site.contact_url }}">Contact</a></li>
</ul>

